<script>
    $(document).ready(function() {
        $('#uf').change(function() {
            let ufIndex = $(this).val();

            /*limpando o select de municipios*/
            $('#municipio').empty();

            /*requisicao ajax para obter os municipios*/
            $.ajax({
                url: '/ajax/obter/municipio/',
                type: 'post',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'uf': ufIndex
                },
                success: function (data) {
                    let selectMunicipio = $('#municipio');
                    selectMunicipio.append('<option value="">----------</option>')
                    $.each(data, function(key, value) {
                        selectMunicipio.append('<option value="'+ value.index  +'">' + value.nome + '</option>');
                    });
                }
            });
        });

        $('#municipio').change(function() {
            let municipioIndex = $(this).val();

            /*limapando o select de bairros*/
            $('#bairro').empty();  

            /*requisicao ajax para obter os bairros*/
            $.ajax({
                url: '/ajax/obter/bairro/',
                type: 'post',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'municipio': municipioIndex,
                },
                success: function(data) {
                    let selectBairro = $('#bairro');
                    selectBairro.append('<option value="">----------</option>')
                    $.each(data, function(key, value) {
                        selectBairro.append('<option value="'+ value.index  +'">' + value.nome + '</option>');
                    });
                }
            });
        })
    });
</script>