<form class="form" method="post">
    {% csrf_token %}
    <div>
        <label for="uf">UF</label>
        <select class="form-control" name="uf" id="uf">
            <option value="">------------</option>
            {% for uf in lista_ufs %}
                <option value="{{ uf.index }}">{{ uf.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="municipio">Municipio</label>
        <select class="form-control" name="municipio" id="municipio">
            <option value="">------------</option>
        </select>
    </div>

    <div>
        <label for="bairro">Bairro</label>
        <select class="form-control" name="bairro" id="bairro">

        </select>
    </div>
</form>